In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('data.csv')
data

     shy air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool     same         yes

In [3]:
##converting the csv data to numpy array, and here we just want all the columns other than last one 
df=np.array(data)[:,:-1]

In [4]:
df

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'same']], dtype=object)

In [5]:
## now here we just want the target values that is enjoy sports,
target=np.array(data)[:,-1]

In [6]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [7]:
def train(df,target):
    for i,value in enumerate(target):
        if value=='yes':
            specific_hypo=df[i].copy()
            break
    for i,value in enumerate(df):
        if target[i]=='yes':
            for x in range(len(specific_hypo)):
                if value[x]!=specific_hypo[x]:
                    specific_hypo[x]='?'
                else:
                    pass
    return specific_hypo

In [8]:
print(train(df,target))

['sunny' 'warm' '?' 'strong' '?' 'same']